<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="title">
      <h1 data-text="Programa_de_Cuatela"> Programa_de_Cuatela</h1>
      <h3 id="nico" data-text="Nicolas_Cari">Nicolas_Cari</h3>
      <h3 id="chris" data-text="Christian_Rivero">Christian_Rivero</h3>
    </div>
    <div class="container">
      <div class="board">
        <div class="file">
          <div class="square" data-position="0-0">
            <div class="piece black"></div>
          </div>
          <div class="square" data-position="0-1">
            <div class="piece empty"></div>
          </div>
          <div class="square" data-position="0-2">
            <div class="piece empty"></div>
          </div>
          <div class="square" data-position="0-3">
            <div class="piece white"></div>
          </div>
        </div>
        <div class="file">
          <div class="square" data-position="1-0">
            <div class="piece empty"></div>
          </div>
          <div class="square" data-position="1-1">
            <div class="piece black"></div>
          </div>
          <div class="square" data-position="1-2">
            <div class="piece white"></div>
          </div>
          <div class="square" data-position="1-3">
            <div class="piece empty"></div>
          </div>
        </div>
        <div class="file">
          <div class="square" data-position="2-0">
            <div class="piece empty"></div>
          </div>
          <div class="square" data-position="2-1">
            <div class="piece white"></div>
          </div>
          <div class="square" data-position="2-2">
            <div class="piece black"></div>
          </div>
          <div class="square" data-position="2-3">
            <div class="piece empty"></div>
          </div>
        </div>
        <div class="file">
          <div class="square" data-position="3-0">
            <div class="piece white"></div>
          </div>
          <div class="square" data-position="3-1">
            <div class="piece empty"></div>
          </div>
          <div class="square" data-position="3-2">
            <div class="piece empty"></div>
          </div>
          <div class="square" data-position="3-3">
            <div class="piece black"></div>
          </div>
        </div>
      </div>
      
    <div class="containerForText">
      <label for="colorSelection">Select player color:</label>
      <select id="colorSelection">
        <option value="black">Black</option>
        <option value="white">White</option>
      </select>
      <br>
      <label for="modeSelection">Select game mode:</label>
      <select id="modeSelection">
        <option value="Human vs Human">Human vs Human</option>
        <option value="Human vs Computer">Human vs Computer</option>
        <option value="Computer vs Computer">Computer vs Computer</option>
      </select>
      <br>
      <label for="depthInput">Select computer depth:</label>
      <input type="number" id="depthInput" name="depth" value="2" min="1" max="10">
      <br>
      <button id="startButton" type="button">New Game</button>
      <div id="selected"></div>
      <div id="moveTo"></div>
      <div id="turn">Black Turn</div>
  </div>
    </div>
      <script src="{{ url_for('static', filename='scripts/movement.js') }}"></script>
</body>
</html>