<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1> Programa de Cuatela</h1>
    <h3>Nicolas Cari</h3>
    <h3>Christian Rivero</h3>
    <div class="container">
    <div class="board">
       <!-- {% for row in board %}
        <div class="file">
          {% for index in [0,1,2,3] %}
            <div class="square">
              {% if row[index]==0 %}
              <div class="piece empty"></div>
              {% endif %}
              {% if row[index]==1 %}
              <div class="piece black"></div>
              {% endif %}
              {% if row[index]==2 %}
              <div class="piece white"></div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        {% endfor %}-->
      
        <div class="file">
          <div class="square">
            <div class="piece black"></div>
          </div>
          <div class="square">
            <div class="piece empty"></div>
          </div>
          <div class="square">
            <div class="piece empty"></div>
          </div>
          <div class="square">
            <div class="piece white"></div>
          </div>
        </div>
        <div class="file">
          <div class="square">
            <div class="piece empty"></div>
          </div>
          <div class="square">
            <div class="piece black"></div>
          </div>
          <div class="square">
            <div class="piece white"></div>
          </div>
          <div class="square">
            <div class="piece empty"></div>
          </div>
        </div>
        <div class="file">
          <div class="square">
            <div class="piece empty"></div>
          </div>
          <div class="square">
            <div class="piece white"></div>
          </div>
          <div class="square">
            <div class="piece black"></div>
          </div>
          <div class="square">
            <div class="piece empty"></div>
          </div>
        </div>
        <div class="file">
          <div class="square">
            <div class="piece white"></div>
          </div>
          <div class="square">
            <div class="piece empty"></div>
          </div>
          <div class="square">
            <div class="piece empty"></div>
          </div>
          <div class="square">
            <div class="piece black"></div>
          </div>
        </div>
      </div>

      <button id="startButton" type="button">newGame</button>
      <div id="selected"></div>
      <div id="moveTo"></div>
      
    </div>
      <script src="{{ url_for('static', filename='scripts/movement.js') }}"></script>
</body>
</html>