.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.board {
  width: 500px;
  height: 500px;
  margin: 20px;
  border: 10px solid #000;
  border-radius: 4px;
  box-shadow: 5px 5px 8px #bebdb6, -5px -5px 8px #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.file {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.square {
  display: flex;
  background-color: #b3b3b1;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.file:nth-of-type(odd) .square:nth-of-type(even) {
  background-color: #769656;
}

.file:nth-of-type(even) .square:nth-of-type(odd) {
  background-color: #769656;
}

.square.selected {
  background-color: rgb(112, 112, 177);
}

/* Estilos para las piezas */
.piece {
  background-color: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid black; /* Add border */
}

.piece.white {
  background-color: black;
}

.piece.white {
  background-color: white;
}

/* Estilos para los espacios vacíos */
.empty {
  background-color: transparent;
  border: 1px solid black; /* Add border */
}

.containerForText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#selected {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

#moveTo {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

#startButton {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

#turn {
  margin-top: 12px;
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  position: relative;
  color: black;
  -webkit-text-stroke: 0.2vw black;
  text-transform: uppercase;
}

h3{
  position: relative;
  color: black;
  -webkit-text-stroke: 0.1vw black;
  text-transform: uppercase;
}

#nico::before{
  color: #01fe87;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #01fe87;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate
{
  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}


#chris::before{
  color: #5c0a56;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #5c0a56;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate
{
  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}

h1::before{
   color: #2d7cb1;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #2d7cb1;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate
{
  0%,10%,100%
  {
    width: 0;
  }
  70%,90%
  {
    width: 100%;
  }
}